* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix {
    content: " ";
    display: block;
    position: relative;
}

body,
html {
    margin: 0;
    padding: 0;
    color: #fff;
    font-weight: 500;
    line-height: 30px;
    background-color: #333;
    text-rendering: optimizeLegibility;
    font-family: Lato, Georgia, 'Times New Roman', Times, serif;
}

.generator {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(rgba(215, 5, 5, 0.3), rgba(215, 5, 5, 0.3)), url(hand-of-glory-animation.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    height: 100vh;
}

.time_title {
    position: absolute;
    right: 10%;
    top: 9%;
    z-index: 9999;
}

.quote_name {
    text-transform: uppercase;
    text-align: center;
    color: red;
    font-size: 140%;
    padding: 0;
    margin: 0;
}

.quotesDisplay {
    max-width: 60%;
    height: 300px;
    display: flex;
    margin: 5% auto;
    align-items: center;
    text-align: center;
    position: relative;
    flex-direction: column;
    justify-content: center;
}

.backgroundImage {
    width: 100%;
    height: 100%;
    cursor: pointer;
    margin: 0;
}

.quotes_text {
    width: 80%;
    height: auto;
    top: 45%;
    left: 50%;
    color: red;
    font-size: 90%;
    margin: 0;
    cursor: pointer;
    position: absolute;
    transform: translate(-50%, -50%);
    text-transform: capitalize;
    text-shadow: 4px 2px 3px rgba(255, 255, 0, 0.801);
    transition: all 2s;
    animation: outing 2s ease-in;
}

@keyframes outing {
    0% { opacity: 0.3; font-size: 150%; }
    50% { opacity: 0.0; font-size: 150%; }
    100% { opacity: 1.0; font-size: 100%; }
}

.author {
    margin: 0 auto;
    text-align: center;
    bottom: 15px;
    font-size: 70%;
    position: absolute;
}

.coder {
   text-align: center;
    bottom: 3%;
    position: relative;
}

span {
    font-size: 130%;
    color: brown;
}

.roll_btn {
 color: #fff;
 padding: 10px;
 text-align: center;
 background-color: blueviolet;
}

.roll_btn .btn {
    color: #fff;
    cursor: pointer;
    border-radius: 15px;
    text-decoration: none;
    background-color: red;
    text-transform: uppercase;
  -webkit-animation: glowing 1500ms infinite;
  -moz-animation: glowing 1500ms infinite;
  -o-animation: glowing 1500ms infinite;
  animation: glowing 1500ms infinite;
}


.btn:hover{
  border: solid;
  font-weight: bold;
  border-color: yellow;
}


/* Make buttons glow!*/

@-webkit-keyframes glowing {
    0% { background-color: #b20000; box-shadow: 0 0 3px #b20000; border: 2px solid #bbff00; }
    50% { background-color: #bbff00; box-shadow: 0 0 40px #bbff00; border: 2px solid #50b200; }
    100% { background-color: #50b200; box-shadow: 0 0 3px #50b200; border: 2px solid #b20000; }
}

@-moz-keyframes glowing {
    0% { background-color: #b20000; box-shadow: 0 0 3px #b20000; border: 2px solid #bbff00; }
    50% { background-color: #bbff00; box-shadow: 0 0 40px #bbff00; border: 2px solid #50b200; }
    100% { background-color: #50b200; box-shadow: 0 0 3px #50b200; border: 2px solid #b20000; }
}

@-o-keyframes glowing {
    0% { background-color: #b20000; box-shadow: 0 0 3px #b20000; border: 2px solid #bbff00; }
    50% { background-color: #bbff00; box-shadow: 0 0 40px #bbff00; border: 2px solid #50b200; }
    100% { background-color: #50b200; box-shadow: 0 0 3px #50b200; border: 2px solid #b20000; }
}

@keyframes glowing {
    0% { background-color: #b20000; box-shadow: 0 0 3px #b20000; border: 2px solid #bbff00; }
    50% { background-color: #bbff00; box-shadow: 0 0 40px #bbff00; border: 2px solid #50b200; }
    100% { background-color: #50b200; box-shadow: 0 0 3px #50b200; border: 2px solid #b20000; }
}



















